---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.site-logo img {
  max-height: 4em;
}

.site-title {
  visibility: hidden;
}

.masthead__inner-wrap {
  padding-top: 0;
  padding-bottom: 0;
}

a:link, a:visited {
  text-decoration: none;
}

html {
  font-size: 18px; // global font size
}

.archive__subtitle {
  padding-bottom: 0px;
  border-bottom: 0px;
}

img.bio-flag {
  margin-bottom: 5px;
  height: 21px;
  width: 32px;
}

.author__name {
  font-size: 1.25em;
}

.author__name {
  display: inline-block;
}